{% extends "base.html.twig" %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RBNB | Accueil</title>
</head>
<body>
    <h1 class="container">Bienvenue sur RBNB</h1>
    <div class="menu">
        <a href="{{ path('app_annonce_new') }}">Mettre mon logement sur RBNB</a>
    </div>
</body>
</html>

{% endblock %}