.title{
    background-color: #faf4d9;
}
.body{
    background-color: #fffced;
    overflow-x: hidden;
}
.logo{
    position: absolute;
    top: 10px;
    left: 50px;
}

.upload{
    position: absolute;
    top: 20px;
    right: 120px; 
}

.country{
    font-weight: bold;
    
}

.user{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
}
