{% extends 'base.html.twig' %}

{% block title %}RBNB | Nouvelle Annonce{% endblock %}

{% block body %}
    <h1>Ajouter un logement sur RBNB</h1>

    {{ include('annonce/_form.html.twig') }}

    
{% endblock %}
