{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
    <h1>Ajouter un logement sur RBNB</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('accueil') }}">Annuler</a>
{% endblock %}
