{% extends 'base.html.twig' %}

{% block title %}RBNB | Nouvelle Annonce{% endblock %}

{% block body %}
    <h1>Ajouter un logement sur RBNB</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('app_annonce_index') }}">back to list</a>
{% endblock %}
